body {
  background: #eee196;
  font: normal 13px Helvetica, Arial, sans-serif;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

main {
  float: right;
  width: 80%;
}

#page {
  overflow: hidden;
  width: 1000px;
  margin: 0 auto;
  background: #ffffff;
}

main ul {
  list-style: none;
  padding: 0 20px 20px 0;
}

main li {
  padding: 15px 20px;
}

main li + li {
  border-top: 1px solid #ececec;
}

main li:hover {
  background: #99f099;
}

aside {
  padding: 50px 20px 0 20px;
}

aside ul {
  padding: 0;
  list-style: none;
}

aside li {
  padding-bottom: 5px;
}
