<!DOCTYPE html>
<html>
  <head>
    <title>Web Store</title>
    <link rel="stylesheet" href="stylesheets/application.css"/>
    <link href="http://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet" type="text/css" />
  </head>
  <body>
      <ul id="products">
        <li>
          <img src="images/snes_actraiser.jpg" />
          <h2>ActRaiser</h2>
          <dl>
            <dt>Console</dt>
            <dd><span title="SNES" class="logo snes">SNES</span></dd>
            <dt>Year</dt>
            <dd>1991</dd>
            <dt>Genre</dt>
            <dd>Strategy</dd>
            <dt>UPC</dt>
            <dd>719631000036</dd>
          </dl>
          <a href="#">Add to cart</a>
        </li>
      </ul>
    </main>
    <script type="text/javascript" src="javascripts/cart.js"></script>
  </body>
</html>
